.tag-group {
	font-family: var(--font__header);
	font-size: var(--font-size__caption);
	font-weight: var(--font-weight__header--light);
	
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.tag {
	display: inline;
	margin-right: 0.4em;
}
  
.tag:last-child::after {
	margin: 0;
}